FUNCTION
Function: code reuse,modularity

 ** IN-BUILT FUNCTIONS**

In [ ]:
s= "python, HTML"
print(s.index("HTML"))

8

** USER DEFINED FUNCTION**

#HOW TO DEFINE A FUNCTION  
1.   #FUNCTION CALL
2.   #FUNCTION DEFINATION

In [ ]:
# function to reverse a number
#function defination
def value_reverse(value):
	 reverse=value[::-1]
	 print(reverse)

s="python"
# function call
result= value_reverse(s)
print(result)

nohtyp
None

In [ ]:
# function to reverse a number with return value
def value_reverse(value):
    reverse=value[::-1]
    print(reverse)
    return reverse
s="python"
result= value_reverse(s)
print(result)

nohtyp
nohtyp

In [ ]:

l=[100,200,300]
result= value_reverse(l)
#num=100
#result= value_reverse(num)

[300, 200, 100]

In [ ]:
#in function data type is not mentioned: 
def value_reverse(value):
  if type(value)==list or type(value)==str:
    reverse=value[::-1]
  else:
   temp=str(value)
   reverse=temp[::-1]
  return reverse
l=[100,200,300]
result= value_reverse(l) 
print(result)
num=100
result= value_reverse(num)
print(result)

[300, 200, 100]
001

*PARAMETER PASSING TECHNIQUES*

1.   POSITIONAL ARGUEMENT
2.   DEFUALT ARGUEMENT
3.   KEYWORD ARGUEMENT
4.   VARIABLE LENGTH POSITIONAL ARGUEMENT
5.   VARIABLE LENGTH KEYWORD ARGUEMENT

**1. POSITIONAL ARGUEMENT**


*   if the total of arguements in function call and defination are same then that arguement system is called positional arguement. arguement count sgould be same
*   1st arguemnt is mapped to 1st and 2nd to 2nd and so on...

In [ ]:
def linear_search(l, key):
    for value in l:
        if key==value:
            return True
    else:            
        return False



l= [100,200,300,400,500]
key=4000
linear_search(l, key) # true or false based on presence of key 
result = linear_search(l, key)
print(result)

False

**2. DEFUALT ARGUEMENT**

In [ ]:
#8 char password
#1 upper, 1lowe, 1 special char, 5 digits
### ord and chr
#print(ord('a')) # returns ascii value
#print(chr(97)) # returns a 
#find the range of ascii lower case and upper case
#print(ord('a'),ord('z'))
#print(ord('A'),ord('Z'))
## write a function to generate PASSWORD : if i  give password length as n it shud generate n lenth password or else by default it geneartes password of lentgth=8 it should generete 3 by default it takes as 8 

import random
def gen_password(length=8): # by defualt it takes as 8 
  l= ['@','#','$','&','!']
  upper= chr(random.randint(65,90))
  lower= chr(random.randint(97,122))
  special= random.choice(l)
  digit=random.randint(10000,99999)
  password=upper+lower+special+str(digit)  # to concantenaTE digit is int so convert to str
  l=random.sample(password, length) 
  password=("").join(l)
  return password
result = gen_password(5)
print(result)
result = gen_password()
print(result)

97
a
97 122
65 90
P7525
7q#5X327

**3. KEYWORD ARGUEMENT**

In [ ]:
#to validate username ans password
def validate(username,password):
  if username=="ABC" and password=="Abc@123":
    print("valid password")
  else:
    print("Invalid password")
validate("ABC", "Abc@123")
validate("Abc@123","ABC") # gives o/p as invalid password

validate(password="Abc@123",username="ABC") # explicitly specifying the parameters

valid password
Invalid password
valid password

default value for seperator in print is space and for new line its /n
print(100,200)
print("hi") 
o/p: 100 200
     Hi
using keyword parameter  sep-, and end=""

print(100,200,sep=","end=" ")
print("hi")

**4. VARIABLE LENGTH POSITIONAL ARGUEMENT**

Write a functions to add multiple elements to a list [as append can add only 1 element]

In [ ]:
def add_value(*t): #takes any no. of arguements it will convert this to tuple
  l=[]
  for value in t:
    l.append(value)
  return l
# total no of parameters are not fixed
result=add_value(100,200,300,400)
print(result)
reult=add_value(100,200)
print(result)
result=add_value(100,200,300,400,500,600)
print(result)

[100, 200, 300, 400]
[100, 200, 300, 400]
[100, 200, 300, 400, 500, 600]

**5. VARIABLE LENGTH KEYWORD ARGUEMNT**

Write a function to fill a form where user can enter name,email,contact,dob in which name and email are mandit

In [ ]:
def get_details(**argu): # it will pass all aguements as dictionary
  print(argu)

get_details(name="ABC",email="abc@gmail.com", contact=8746527634, dob="12-05-2001")
get_details(name="ABC",email="abc@gmail.com", dob="12-05-2001")
get_details(name="ABC",email="abc@gmail.com", contact=8746527634,)

{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': 8746527634, 'dob': '12-05-2001'}
{'name': 'ABC', 'email': 'abc@gmail.com', 'dob': '12-05-2001'}
{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': 8746527634}

**RECURSIVE FUNCTIONS**


*   If a function call to itself
*   List item

In [ ]:
#factorial of number
def factorial(num):
    if num==1:
      return 1
    else:
      return num*factorial(num-1)
num1=5
result=factorial(num1)
print(result)

120

In [ ]:
#binary sort
#sorted list 
def binary_search(l,key):
  """ Input a list and key return True if key exist else return False""" 
  if len(l)==0:
    return False
  else:
    mid=len(l)//2
    if l[mid]==key:
      return True
    elif l[mid]>key :
      return binary_search(l[:mid],key)
    else:
      return binary_search(l[mid+1:],key)

l=[100,200,300,400,500,600,700,800,900]
key=1000
result=binary_search(l,key)
print(result)

False

**LAMDA** 
MAP
FILTER
DICT

In [ ]:
#Lambda Function
square = lambda x : x * x
#Calling Lambda Function
result=square(2)
print(result)

#The following lambda function does not return anything.

greet = lambda name: print('Hello ', name) 
greet('Steve')

#The following lambda function contains multiple parameters:
sum = lambda x, y, z : x + y + z 
result=sum(5, 10, 15)
print(result)

#The following lambda function can take any number of parameters:

sum = lambda *x: x[0]+x[1]+x[2]+x[3]  
result=sum(5, 10, 15, 20)
print(result)


#Parameterless Lambda Function
(lambda x: x*x)(10)

4
Hello  Steve
30
50

100

MAP: To perform any operations on individual elements

In [ ]:
#MAP: it is a Function takes another function as arguement ie it accepts one value and it gives result of that value
# square

def sqr(num1):
  return num1**2
l=[10,20,30,40,50,60]
result=list(map(sqr,l))
print(result)
# to add elements of 2 lists
def add(num1,num2):
  return num1+num2
l1= [100,200,300]
l2=[10,20,30]
result=list(map(add,l1,l2)) # o/p will be always as same length as input
print(result)

[100, 400, 900, 1600, 2500, 3600]
[110, 220, 330]

**FILTER**
it will filter out the elements for which ans is true

In [ ]:
#elements which are even number
def even_check(num1):
  if num1%2==0:
    return True
  else:
    return False
l=[100,115,120,135,140]
result=list(filter(even_check,l))
print(result)

[100, 120, 140]

**LAMDA**
functions which contains very few lines can be defined as lamda

In [ ]:
l=[10,20,30,40,50,60]
result=list(map(lambda num1: num1**2,l))
print(result)

[100, 400, 900, 1600, 2500, 3600]

In [ ]:

l=[100,115,120,135,140]
result=list(filter(lambda num: num%2==0 ,l))
print(result)

[100, 120, 140]

In [ ]:
#sorting a dictionary based on value using lamda

d={1:50,2:40,3:30,4:20}
l=sorted(d.items(), key=lambda x: x[1]) # sort based on key value
print(l)
d=dict(l)
print(d)

[(4, 20), (3, 30), (2, 40), (1, 50)]
{4: 20, 3: 30, 2: 40, 1: 50}