#operators

Arithematic operators

In [ ]:
num1=20
num2=5
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(10//3)
print(num1%num2)
print(num1**num2)
print(5 ** 3) 

num3=num1+num2
print("The sum of input numbers is:",num3)

25
15
100
4.0
3
0
3200000
125
The sum of input numbers is: 25

Relational operators

In [ ]:
num1= input('Enter first number')
num2= input('Enter second number')
print(num1==num2)
print(num1>num2)
print(num1!=num2)
print(num1 < num2)

Enter first number23
Enter second number34
False
False
True
True

Identity operators:

In [ ]:
num1=100
num2=100
num3=100
print(num1==num2)
print(num1 is num2)
print(id(num1))
print(id(num2))
print(id(num3))

True
True
94374902339168
94374902339168
94374902339168

Diffrence between equal and identity

In [ ]:
num2=20
num3=20
print(id(num2))
print(id(num3))

94904927124576
94904927124576

In [ ]:
l= [10,20]
l2= [10,20]
print(l==l2)# compares the value
print(l is l2)# compares the memory location
print(id(l))
print(id(l2))

True
False
140112906037680
140112906036240

Assignment Operators

In [ ]:
num1=100
num1= num1+5
print(num1)
num1+= 5
print(num1)
num1-= 5
print(num1)

105
110
105

Bitwise operators

In [ ]:
num1= 1
num2=1
print(num1 & num2) # converts into binary,perform & operation and then convert back to integer
print(num1<< 1)

1
2

logical operators

In [ ]:
print(10==10 and 20==20)
print(10==15 and 20==20)
print(10==15 or 20==20)
print(not(10==10))

True
False
True
False

Membership operators:

In [ ]:
l=[10,20,30]
print(20 in l) # ans true
print(200 in l) # ans false
print(200  not in l)# ans true

True
False
True

DATA TYPES

In [ ]:
#NUMERIC DATA TYPES
# Integer: 
num1=100
print(num1, type(num1))
# Float: 
num2= 32.5
print(num2, type(num2))
#complex: 
num3= 2+ 5j
print(num3, type(num3))

# bool
a= True
print(a, type(a))

s='python'
print(s,type(s))

100 <class 'int'>
32.5 <class 'float'>
(2+5j) <class 'complex'>
True <class 'bool'>
python <class 'str'>

STRING

In [ ]:
# string

s= "python"
print(s,type(s))

#if i want to print  'python' is immutable
#s="'python' is immutable"
#print(s)

python <class 'str'>

LIST

In [ ]:
l= [10, 20, "python"]
print(l, type(l))

#TUPLE
t= (10,20,30)
print(t, type(t))

[10, 20, 'python'] <class 'list'>
(10, 20, 30) <class 'tuple'>

DICT

In [ ]:
d= {"ab":20, "bc":30, "cd":40}
print(d,type(d))
print(d["ab"])
print(d.keys())   #% output will be list of keys
print(d.values())   #% output will be list of values
print(d.items())    #% output will be list of key , value pair

{'ab': 20, 'bc': 30, 'cd': 40} <class 'dict'>
20
dict_keys(['ab', 'bc', 'cd'])
dict_values([20, 30, 40])
dict_items([('ab', 20), ('bc', 30), ('cd', 40)])

#SET

In [ ]:
 s={100,200}
 print(s,type(s))

{200, 100} <class 'set'>

CONTROL FLOW STATEMENTS

In [ ]:
#IF 
number = 7
if number > 5:
    print(number * number)
print('Next lines of code')

49
Next lines of code

IF ELSE

In [ ]:
password = input('Enter password ')

if password == "PYnative@#29":
    print("Correct password")
else:
    print("Incorrect Password")

Enter password WFEREW
Incorrect Password

NESTED *IF*

In [ ]:
    choice=4
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

Wrong entry

Nested IF else

In [ ]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 1
Enter second number 2
1 is smaller than 2

# WHILE LOOP

In [ ]:
x = 1
while x <= 5: 
  print(x); 
  x = x+1

1
2
3
4
5

FOR LOOP

In [ ]:
sum=0

for value in range(1,21}):
  sum+=value
print(sum)

#range range(5)- starts from 0 1 2 3 4
#range(5, 11) 5,6,7,8,9,10
#range(2, 13, 2) 2 4 6 8 10 12

210