Exp1

A) Write a python program to add two numbers using a simple method and input method

In [ ]:
#Addition of two numbers:SIMPLE METHOD
a=56.6
b=45.5
sum=a+b
print("Addition of two numbers:",sum)

Addition of two numbers: 102.1

In [ ]:
#By using Input Method:addition
num1= float(input("Enter Number 1:"))
num2=float(input("Enter number 2:"))
print("addition of two numbers:",num1*num2)

Enter Number 1:23
Enter number 2:3
addition of two numbers: 69.0

B) Write a python program to add n numbers.

In [ ]:
#using while loop
n=int(input("Enter number:"))
if n<0:
   print("Enter positive number.")
else:
   sum=0
   while(n>0):
         sum+=n # sum+n=sum
         n-=1   #n-1
         #print("The sum is:", sum)  
   print("the total is:",sum)

Enter number:350
the total is: 61425

In [ ]:
#using for loop
n=int(input("Enter number:"))
if n<0:
   print("Enter positive number.")
else:
   sum=0
   for i in range(n+1):
       sum+=i
   print("The sum is:", sum)

Enter number:3
The sum is: 6

 C) Write a python program to find the largest number among three numbers.

In [ ]:
num1=float(input("Enter number 1:"))
num2=float(input("Enter number 2:"))
num3=float(input("Enter number 3:"))
if (num1 > num3) and (num1 > num2):
    largest= num1
elif (num2 > num3) and (num2 > num1):
    largest=num2
else:
     largest= num3
print("The largest number is:", largest)

Enter number 1:56
Enter number 2:569
Enter number 3:1236
The largest number is: 1236.0

In [ ]:
list1=[1,2,3,'sakaec', [3,'ab'],67.5]
print(list1)

[1, 2, 3, 'sakaec', [3, 'ab'], 67.5]

In [ ]:
datalist =[ 1,[1001,"John",45.5],[1002, "Sandra", 56.5]]
print(datalist[1][2])

45.5

In [ ]:
list1=[23,67,12,'sakec']
print(list1[-4])

23

In [ ]:
datalist = [23,45,31,53,62]
print(datalist[0:3])
print(datalist[2:4])
print(datalist[:-4])
print(datalist[-4:])
print(datalist[-4:-2])
print(datalist[:])

[23, 45, 31]
[31, 53]
[23]
[45, 31, 53, 62]
[45, 31]
[23, 45, 31, 53, 62]

In [ ]:
datalist = [23,45,31,53,62]
datalist.append(39)
print(datalist)
datalist.extend([76,23,15])
print(datalist)

[23, 45, 31, 53, 62, 39]
[23, 45, 31, 53, 62, 39, 76, 23, 15]

In [ ]:
datalist = [23,45,31,53,62]
datalist.append(39)
print(datalist)
datalist.extend([76,23,15])
print(datalist)
datalist.insert(2,62)
print(datalist)
datalist.remove(23)
print(datalist)
print(datalist.index(53))
print(datalist.count(62))
datalist.pop()
print(datalist)
print(datalist.copy())
datalist.reverse()
print(datalist)
datalist.sort()
print(datalist)
print(datalist.clear())

[23, 45, 31, 53, 62, 39]
[23, 45, 31, 53, 62, 39, 76, 23, 15]
[23, 45, 62, 31, 53, 62, 39, 76, 23, 15]
[45, 62, 31, 53, 62, 39, 76, 23, 15]
3
2
[45, 62, 31, 53, 62, 39, 76, 23]
[45, 62, 31, 53, 62, 39, 76, 23]
[23, 76, 39, 62, 53, 31, 62, 45]
[23, 31, 39, 45, 53, 62, 62, 76]
None

In [ ]:
list1=[1,2,4,3]
list2=[1,2,5,8]
list3=[1,2,5,8,10]
list4=[1,2,4,3]
print cmp(list1,list2)
print("Comparison of list2 with list3(larger size) : ")
print cmp(list2, list3)
print ("Comparison of list4 with list1(equal) : ")
print cmp(list4, list1)

SyntaxError: ignored

In [ ]:
datalist = [23,45,31,53,62]
print(len(datalist))
print(max(datalist))
print(min(datalist))

5
62
23

In [ ]:
even=[i for i in range(500) if i%2==0]
print(even)
odd=[i for i in range(500) if i%2 !=0]
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]

In [ ]:
datalist = [23,45,31,53,62]
print(11 in datalist)
print(45 in datalist)

False
True

In [ ]:
list1=[]
num = int(input("Enter number of elements in list:  "))
for i in range(1,num+1):
     e=int(input("Enter elements:   "))
     list1.append(e)
print("Largest element is:", max(list1))

Enter number of elements in list:  5
Enter elements:   34
Enter elements:   45
Enter elements:   67
Enter elements:   89
Enter elements:   100
Largest element is: 100