In [ ]:
#help(list)
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:

#len(list): Gives the total length of the list.
#max(list): Returns the largest element from the list.
#min(list): Returns the smallest element from the lsit.

l=[10,20,30,40,50]
l2=[10,20,30,40,50]
print(len(l))
print(len(l2))
print(max(l2))

5
5
50

a) list with even and odd numbers using list comprehension

In [ ]:
even=[i for i in range(50) if i%2==0]
print(even)
odd=[i for i in range(50) if i%2 !=0]
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

B)Write a program to find the maximum number from the list.

In [ ]:
list1 = [10, 20, 4, 45, 99]
# sorting the list
list1.sort()
print("Largest element is:", list1[-1])

Largest element is: 99

C) Convert 2 lists  into sorted single list with unique elements using Set

In [ ]:

l1=[100,200,300,400,200,500,500,500,400]
print(l1)
l2= [10,20,15,10,30,15,10,20,40,50,75,50,10]
print(l2)
s1=set(l1)
s2=set(l2)
s3=s1.union(s2)
print(s3)
l3=list(s3)
print(l3)
l3.sort()
print(l3)

[100, 200, 300, 400, 200, 500, 500, 500, 400]
[10, 20, 15, 10, 30, 15, 10, 20, 40, 50, 75, 50, 10]
{100, 200, 40, 10, 75, 300, 15, 400, 50, 500, 20, 30}
[100, 200, 40, 10, 75, 300, 15, 400, 50, 500, 20, 30]
[10, 15, 20, 30, 40, 50, 75, 100, 200, 300, 400, 500]

D)Python program to check if a string is palindrome or not

In [ ]:
s = "malayalam"
print(s)
s1=s[::-1]
if s==s1:
	print('Given string is palindrome')
else:
	print('Given string is not 	palindrome')

malayalam
Given string is palindrome

In [ ]:
list1= [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list2=[1,'sakec',35.8,[4,5,'abc']]
print(list2)

[1, 'sakec', 35.8, [4, 5, 'abc']]

In [ ]:
datalist = [ 1,[1001,"John",45.5],[1002, "Sandra", 56.5]]
print(datalist[2][1])

Sandra

In [ ]:
datalist = [23,45,31,53,62]
print(datalist[:])

[23, 45, 31, 53, 62]

In [ ]:
datalist = [23,45,31,53,62]
print(len(datalist))
print(max(datalist))
print(min(datalist))

5
62
23

In [ ]:
even=[i for i in range(500) if i%2==0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498]

In [ ]:
datalist = [23,45,31,53,62]
print(11 in datalist)
print(62 in datalist)

False
True

In [ ]:
for city in ['Goa', 'Mumbai', 'Chennai']:
  print("I visited", city)

I visited Goa
I visited Mumbai
I visited Chennai

In [ ]:
my_list = ["zero", "one", "two", "three", "four"]
my_new_list = ["five", "six"] 
my_list += my_new_list
print("List's items after concatenating:"); 
for l in my_list: 
      print(l)

List's items after concatenating:
zero
one
two
three
four
five
six

In [ ]:
my_list = ["zero", "one", "two", "three", "four"]
print("Elements of the list, my_list are:")
for ml in my_list: 
      print(ml)
index = input("\nEnter index no:")
index = int(index)
print("Deleting the element present at index number",index)
del my_list[index] 
print("\nNow elements of the list, my_list are:")
for ml in my_list: 
        print(ml)

Elements of the list, my_list are:
zero
one
two
three
four

Enter index no:2
Deleting the element present at index number 2

Now elements of the list, my_list are:
zero
one
three
four

In [ ]:
list1 = [10, 20, 4, 45, 99]
# sorting the list
list1.sort()
# printing the last element
print("Largest element is:", list1[-1])

Largest element is: 99

In [ ]:
list1 = [10, 20, 4, 45, 99]
# printing the maximum element
print("Largest element is:", max(list1))

Largest element is: 99

In [ ]:
list1=[]
num=int(input("Enter number of elements in a list:"))
for i in range(1,num+1):
     e=int(input("Enter elements:   "))
     list1.append(e)
     print(list1)
print("Largest element is:", max(list1))

Enter number of elements in a list:3
Enter elements:   45
[45]
Enter elements:   12
[45, 12]
Enter elements:   56
[45, 12, 56]
Largest element is: 56

In [ ]:
l1=[100,200,300,400,200]
l2= [10,20,15,10,30,15,10,20,40,50,75,50,10]
s1=set(l1)
print(s1)
s2=set(l2)
print(s2)
s3=s1.union(s2)
print(s3)
l3=list(s3)
print(l3)
l3.sort()
print(l3)

{200, 100, 400, 300}
{40, 10, 75, 15, 50, 20, 30}
{100, 200, 40, 10, 75, 300, 15, 400, 50, 20, 30}
[100, 200, 40, 10, 75, 300, 15, 400, 50, 20, 30]
[10, 15, 20, 30, 40, 50, 75, 100, 200, 300, 400]

In [ ]:
s = "sakec"
print(s)
s1=s[::-1]  # reverse string opertaion 
print(s1)
if s==s1:
	print("Given string is palindrome")
else:
	print("Given string is not 	palindrome")

sakec
cekas
Given string is not 	palindrome

In [ ]:
keys=[]
values=[]
n = int(input('Enter number of elements for dictionary'))
print('For keys:')
for x in range(0,n):
     element = int(input('Enter element' + str(x+1) + ":"))
     keys.append(element)
print('For values:')
for x in range(0,n):
    element = (input('Enter element' + str(x+1) + ":"))
    values.append(element)
d= dict(zip(keys, values))

Enter number of elements for dictionary3
For keys:
Enter element1:1
Enter element2:2
Enter element3:3
For values:
Enter element1:22
Enter element2:23
Enter element3:24
The dictionary is:
{1: '22', 2: '23', 3: '24'}

In [ ]:
# initializing tuple
t = (5, 20, 23, 4,1,2,7, 6, 8)
 
# printing original tuple
print("The original tuple is : " + str(t))
 
# initializing K
K = 3
 
# Maximum and Minimum K elements in Tuple
# Using slicing + sorted()
l = list(t)
temp = sorted(l)
print(temp)
res = tuple(temp[:K] + temp[-K:])
# printing result
print("The extracted values : " + str(res))

The original tuple is : (5, 20, 23, 4, 1, 2, 7, 6, 8)
[1, 2, 4, 5, 6, 7, 8, 20, 23]
The extracted values : (1, 2, 4, 8, 20, 23)