In [ ]:
def mymsg():  
    print("welcome to Python class")

mymsg()

welcome to Python class

#Python Function with No Arguments, and No Return Value 
  
Here we are not passing any parameter to function instead values are assigned within the function and result is also printed within the function . 
It is not returning any value.

In [ ]:
def add1():
  a=12
  b=67.5
  sum=a+b
  print("The sum of two numbers is:",sum)

add1()

The sum of two numbers is: 79.5

In [ ]:
def Add1(): 
  a = 40.6
  b = 30
  Sum = a + b
  print("After Calling the Function sum is:", Sum)


Add1()

After Calling the Function sum is: 70.6

# Python Function with Arguments, and No Return Value 
Here we are passing 2 parameters a,b to the function and function is calculating sum of these parameter and result is printed within the function . It is not returning any value

In [ ]:
def Add2(a,b): 
     Sum = a + b 
     print("Result:", Sum) 
Add2(10,20)

Result: 30

In [ ]:
def mul(a,b):
    result=a*b
    print("Multiplication of two numbers:",result)

mul(10, 50)

Multiplication of two numbers: 500

#Python Function with Arguments, and Return Value 
Here we are passing 2 parameters a,b to the function and function is calculating sum of these parameter and result is returned.

In [ ]:
def Add3(a,b): 
    Sum = a * b
    return Sum 

Add3(100,56)
#Z=Add3(10,12) 

#print("result=",Z)

5600

# Python Function with No Arguments, and Return Value
Here we are not passing any parameter to function instead values are assigned within the function but result is returned.

In [ ]:
def Add4():
  a=11
  b=20 
  Sum = a + b
  return  Sum 
#Add4()
z=Add4()
print("Result:",z)

Result: 31

#Lambdas in Python

In [ ]:
def square(X):
  return X**2

square(5)

25

In [ ]:
#square using function
def square(x):
  return x**2

result=square(4)
print(result)

16
900

In [ ]:

#square using lamda
result= (lambda x:x**2)(4)
print(result)

16

In [ ]:
lst1 = [5, 7, 9, -3, 4, 2, 6]
lst2 = list(map(lambda n : n * 2, lst1))
print(lst2)

[10, 14, 18, -6, 8, 4, 12]

In [ ]:
def add(x):
    x=x+2
newlist=[10,20,30,40]
result=list(map(lambda x:x+2,newlist))
print(result)



#using lamda function and map

#newlist=[10,20,30,40]
#result1=list(map(lambda x:x+2,newlist))
#print(result1)

[12, 22, 32, 42]

In [ ]:
newlist=[1,3,5,6,8,9,14,15]
result=list(filter(lambda x: x%2 ==0, newlist))
print(result)

[6, 8, 14]

A) Assume you want to build two functions for discounting products on a website.
Function number 1 is for student discount which discounts the current price to 10%.
Function number 2 is for additional discount for regular buyers which discounts an additional 5% on the current student discounted price.
Depending on the situation, we want to be able to apply both the discounts on the products.
Design the above two mentioned functions and apply them both simultaneously on the price.

In [ ]:
def student_discount(selling_price):
  newprice=selling_price-(selling_price *10)/100
  return newprice

student_discount(200)

180.0

In [ ]:
def student_discount(price):
   price = price - (price * 10) / 100
   return price
student_discount(100)

90.0

In [ ]:
def additional_discount(newprice1):
   newprice2 = newprice1 - (newprice1 * 5) / 100
   return newprice2
additional_discount(200)

190.0

In [ ]:
def student_discount(price):
   price = price - (price * 10) / 100
   return price
 
def additional_discount(newprice):
   newprice = newprice - (newprice * 5) / 100
   return newprice
 
selling_price = 100

#applying both discounts simultaneously

#student_disc=(student_discount(selling_price)) # FUNCTION CALL
#print(student_disc)

#tudent_add_disc=additional_discount(student_disc)
#print(student_add_disc)
print(additional_discount(student_discount(selling_price)))

85.5

B) Calculate the value of mathematical expression x*(x+5)^2 where x= 5 using lambda expression.

In [ ]:
result = (lambda x: x*(x+5)**2)(5)
print(result)

500

C) Consider a list in Python which includes prices of all the items in a store.
Build a function to discount the price of all the products by 10%.

In [ ]:
#uisng function
def discount(price):
   price = price - (price * 10) / 100
   return price
 
product_prices = [100, 200, 300, 400, 500]
updated_prices = list(map(discount,product_prices))

print(updated_prices)

[90.0, 180.0, 270.0, 360.0, 450.0]

In [ ]:

 #using lambda
 
product_prices = [100, 200, 300, 400, 500]
updated_prices = list(map(lambda price:price - (price * 10) / 100,product_prices))

print(updated_prices)

[90.0, 180.0, 270.0, 360.0, 450.0]

In [ ]:
def add(x):
  return x+2

newlist=[10,20,30,40]


result=list(map(add,newlist))
print(result)

[12, 22, 32, 42]

In [ ]:
def Add1():
  a = 20
  b = 30
  Sum = a + b
  print(Sum)



Add1() # function call

50