In [ ]:
#NUMERIC DATA TYPES
# Integer: 
num1=100
print(num1, type(num1))
# Float: 
num2= 32.5
print(num2, type(num2))
#complex: 
num3= 2+ 5j
print(num3, type(num3))
# bool
a= True
print(a, type(a))

100 <class 'int'>
32.5 <class 'float'>
(2+5j) <class 'complex'>
True <class 'bool'>

In [ ]:
#Type Conversion
print(int(2.3))
print(int(-2.8))
print(float(5))
print(complex('3+5j'))


#Python Mathematics
import math
print(math.pi)
print(math.cos(math.pi))
print(math.exp(10))
print(math.log10(1000))
print(math.sinh(1))
print(math.factorial(6))

import random
print(random.randrange(10, 20))
x = ['a', 'b', 'c', 'd', 'e']
# Get random choice
print(random.choice(x))
# Shuffle x
random.shuffle(x)
# Print the shuffled x
print(x)
# Print random element
print(random.random())

2
-2
5.0
(3+5j)
3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720
11
b
['d', 'a', 'b', 'e', 'c']
0.9553116847235308

**STRING**
1.   Ordered: supports indexing ans slicing
2.   Immutable: CANT CHANGE
3.   Not heterogenous : doesnot support different data types

In [ ]:
# string

s= "python"
print(s,type(s))

#if i want to print  'python' is immutable
s="'python' is immutable"
print(s)

python <class 'str'>
'python' is immutable

In [ ]:
# functions in strings
s= "python is string"
print(id(s))
s= s.capitalize()
print(id(s))
print(s)  
print(s.upper())
print(s.lower())
print(s.title())

#to check whether upper/lower/title
print(s.islower())  
print(s.isupper()) 	
print(s.istitle()) 
#but not for capitilize

# To find the index of the string # 1) index 2)find 3) rfind

print("python" in s) # checks if string is found
print(s.index("is")) #returns the index if  string not found  gives the error
print(s.find("is")) #returns the index if  string not found  gives -1
print(s.rfind("python")) # searches string from right and returns the index

#replace

s= " abc, ab, bcd, def, abc"
s1= s.replace("abc", "123")
print(s1)

#replace using maketrans and translate
s1= "abc"
s2="123"
s3= "python is a abc"
table= str.maketrans(s1, s2)
result=s3.translate(table)
print(result)

140260577287984
140260577285744
Python is string
PYTHON IS STRING
python is string
Python Is String
False
False
False
False
7
7
-1
 123, ab, bcd, def, 123
python is 1 123

In [ ]:
##STRIP###

s= "        sample       "
#to remove space from left and right
s1= s.strip(" ")
print(s1)

s= "****sample****"
s1= s.strip("*")
print(s1)

#to reomve from only left/right 
s1= s.lstrip("*") 
s1= s.rstrip("*")

#to convert string to fixed length and what needs to be addded must be specified
s= "python"
s1= s.center(20,"*") 
print(s1)
s1= s.ljust(20, "*") 
print(s1)
s1= s.rjust(20,"*")
print(s1)



#help(str)
#print(dir(str))


# Using a for loop to iterate through a string
s="python"
for letter in s:
    print(letter)

sample
sample
*******python*******
python**************
**************python
['abd', ' bcd', ' fg']
abd  bcd  fg
p
y
t
h
o
n

In [ ]:
#help(str)
#print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

**LIST**

1. heteregenous- supports different data types
2. Mutable: can add, update AND DELETE
3. Ordered

In [ ]:
l= [10, 20, "python"]
print(l, type(l))

[10, 20, 'python'] <class 'list'>
(10, 20, 30) <class 'tuple'>

In [ ]:
#methods in list

l=[30,20,40]
print(l.sort()) # modifies the same list
print(l)
l3= sorted(l)   #returs another list
print(l,l3)
print(l3.reverse())
print(l.index(30)) # returns the index
l=[10,20,30,30]
print(l.count(30)) # no, of occurances
l=[10]
print(l*20)

#Iterating Through a List
for fruit in ['apple','banana','mango']:
    print("I like",fruit)
#List Comprehension:Way to create a new list from an existing list in Python.
sqre = [x**2 for x in range(10)]
print(sqre)


l= [10,20,30]
for t in enumerate(l):
	print(t)
#returns index and value

None
[20, 30, 40]
[20, 30, 40] [20, 30, 40]
None
1
2
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
I like apple
I like banana
I like mango
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
(0, 10)
(1, 20)
(2, 30)

**TUPLE** :same as list but immutable


1.   imutable so no method update or delete the tuple
2.   ordered
3.   heterogenous

In [ ]:

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
t = (1, 2, 3)
print(t)

# tuple with mixed datatypes
t = (1, "Hello", 3.4)
print(t)

# nested tuple
t = ("mouse", [8, 4, 6], (1, 2, 3))
print(t)

t= (10,20,30,30,30)
print(t, type(t))
print(t[1])
#only 2 methods count and index
print(t.index(30))
print(t.count(30))

# Using a for loop to iterate through a tuple
for name in ('John', 'Kate'):
    print("Hello", name)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
(10, 20, 30, 30, 30) <class 'tuple'>
20
2
3
Hello John
Hello Kate

DICT: data will be stored in Key and value pair; seperted by colon


1.   mutable
2.   unordered
3.   heterogenous
4.   key should be unique: int float str tuple [**it will only allow immutable data type as key..because if mutable u can change the key..duplicate entries can be done**]

In [ ]:
d= {"ab":20, "bc":30, "cd":40}
print(d,type(d))
print(d["ab"])



for key in d:
	print(key, d[key])

{'ab': 20, 'bc': 30, 'cd': 40} <class 'dict'>
20
dict_keys(['ab', 'bc', 'cd'])
dict_values([20, 30, 40])
dict_items([('ab', 20), ('bc', 30), ('cd', 40)])
ab 20
bc 30
cd 40

#SET


1.   sets are mutable
2.   unorderd-no indexing and scling
3.   hetergenous [**but immutable elements are used  in set such as int, float, sting, tuple as all the elements are unique***]

In [ ]:
s={100,200}
print(s,type(s))
s1={10,20,30,40,50,60} 
s2= {40,50,60,70,80,90}
s3=s1.union(s2) #repeated elements are removed o/p - {10,20,30,40,50,60,70,80,90}
print(s3)
s3=s1.intersection(s2) # common elements o/p-{40,50,60}
print(s3)
s3=s1.difference(s2) #all elements s1 which are not present in set 2 o/p {10,20,30}
print(s3)
s3=s2.difference(s1)# o/p {70,80,90}
print(s3)
s3=s1.symmetric_difference(s2) # all elemnts in both except common elements # {10,20,30,70,80,90}
print(s3)


#issubset
s1={10,20,30,40,50,60} 
s2= {40,50,60}
print(s2.issubset(s1)) 
print(s1.issuperset(s2))

{200, 100} <class 'set'>
{70, 40, 10, 80, 50, 20, 90, 60, 30}
{40, 50, 60}
{10, 20, 30}
{80, 90, 70}
{70, 10, 80, 20, 90, 30}
True
True

**ORDERED DATA TYPES**: If the data type is ordered (order in which u add the data python will also maintain the same order)then it supports indexing and slicing.

1.   STRING
2.   LIST
3.   TUPLE

In [ ]:
#STRING
s= "python is a string"
#indexing
print(s[3]) 
print(s[-6])
#slicing
print(s[:8])
print(s[7:])
print(s[::2])
print(s[::3])
print(s[::-2])
print(s[::-1])

h
s
python i
is a string
pto sasrn
ph  si
git  inhy
gnirts a si nohtyp

In [ ]:
# LIST
l= [10, 20, "python", [100,200,[10,20,30]]]
print(l)
print(l[0]) 
print(l[-1]) 
print(l[1:3])
print(l[::-1])
print(l[-1][2][2]) 
print(l[3][2][2])

[10, 20, 'python', [100, 200, [10, 20, 30]]]
10
[100, 200, [10, 20, 30]]
[20, 'python']
[[100, 200, [10, 20, 30]], 'python', 20, 10]
30
30

In [ ]:
#TUPLE
t= (10,20,30,(1,2,3))
print(t)
print(t[0]) 
print(t[-1]) 
print(t[1:3])
print(t[-1][2])

(10, 20, 30, (1, 2, 3))
10
(1, 2, 3)
(20, 30)
3

Mutable: Allows add, update and delete from same variable and same memory location

*   LIST
*   DICTIONARY
*   SET

LIST

In [ ]:

#LIST update
l=[10,20,30]
l[1]=200
print(l)
#extend or append can take only one arguemnt a number
l.append(60) # append will not return any thing it modifies the original list
print(l) 

l.extend([60, 70])
print(l)  #output: [10, 20, "python", [100,200],60,70] 
l.append([60, 70])
print(l)  #output: [10, 20, "python", [100,200],[60,70]] 
l.extend("python")
print(l)
#l.append("python")
#print(l)
#if you want add the elements in between
l=[10,20,30]
l.insert(1,100)
print(l)
l2= l
print(l,l2)  # same meory location  if u append to one then other will also change
#use of Copy 
l2= l.copy()
l.append(40)
print (l, l2)

#extend and concate difference
#extend alters the  original list where as concate returns a value

l= [10,20,30]
l.extend([50, 60])
print(l)
l2= [20,30]
l3= l+l2
print(l3)

[10, 200, 30]
[10, 200, 30, 60]
[10, 200, 30, 60, 60, 70]
[10, 200, 30, 60, 60, 70, [60, 70]]
[10, 200, 30, 60, 60, 70, [60, 70], 'p', 'y', 't', 'h', 'o', 'n']
[10, 100, 20, 30]
[10, 100, 20, 30] [10, 100, 20, 30]
[10, 100, 20, 30, 40] [10, 100, 20, 30]
[10, 20, 30, 50, 60]
[10, 20, 30, 50, 60, 20, 30]

In [ ]:

# LIST delete 
#pop: remove based on index
l=[10,20,30]
r= l.pop()
print(l,r)
r1= l.pop(1)
print(l,r1)

#remove: remove based on value
l1=[1,2,3,2]
r2= l1.remove(2)
print(l1)
r2= l1.remove(2)
print(l1)

#clear:remove all the elements in list
l1.clear()
print(l1)

#del: delete completly from memory location
#del l1
#print(l1)

[10, 20] 30
[10] 20
[1, 3, 2]
[1, 3]
[]

In [ ]:
#DICTIONARY
#UPDATE
d= {"ab":20, "bc":30, "cd":40}
print(d)
d["de"]=50   #this is add opeartion
print(d)
d["de"]=60 #this is update operation
print(d)
d1={1:10,2:20}
print(d1)
d2={3:30,4:40}
d1.update(d2)
print(d1)
d= {"ab":20, "bc":30, "cd":40}

#get and setdefualt
print(d["ab"]) # if key deoest exits gives key error
print(d.get("ab"))#if key deoest exits doesnot give error
print(d.get("hg")) #output:none

#To excute the default value
print(d.get("hg", "key not found"))

#To add the  default value to d 
d.setdefault("hg")
print(d) 
d.setdefault("se",50)
print(d)

{'ab': 20, 'bc': 30, 'cd': 40}
{'ab': 20, 'bc': 30, 'cd': 40, 'de': 50}
{'ab': 20, 'bc': 30, 'cd': 40, 'de': 60}
{1: 10, 2: 20}
{1: 10, 2: 20, 3: 30, 4: 40}
20
20
None
key not found
{'ab': 20, 'bc': 30, 'cd': 40, 'hg': None}
{'ab': 20, 'bc': 30, 'cd': 40, 'hg': None, 'se': 50}

In [ ]:
#DICTIONARY DELETE
d1= {1:20, 2:30, 3:40}
#pop: pop(key) , retuns the value of that key
r= d1.pop(2)
print(d1,r)
#popitem: doent take any arguement,it radomly remove one pair: returns key value pair
r= d1.popitem()
print(d1,r)
#clear clears the dict
d1.clear()
#del : deleete from memory
#del d1

{1: 20, 3: 40} 30
{1: 20} (3, 40)

In [ ]:
#SET UPDATE

s={100,200}
s.add(300)
print(s)

#to update original set
s1={10,20,30,40,50,60} 
s2= {40,50,60,70,80,90}
s1.update(s2)   # same as union but chANGES ORIGINAL SET
s1.intersection_update(s2)
s1.difference_update(s2)
s1.symmetric_difference_update(s2)

{200, 100, 300}

In [ ]:
#SET DELETE

s={10,20,30,40,50,60} 
r= s.pop()
print(s,r)
s.remove(20)
print(s)

#discard: diff between remove and discard: it doesnot throw error if value doesnot exit
s.discard(20)
print(s)
{10,30,40,50,60}
s.clear()
#del s

{10, 50, 20, 60, 30} 40
{10, 50, 60, 30}
{10, 50, 60, 30}

In [ ]:
#CONVERSION
#Split and joint

s= "abd, bcd, fg"
l= s.split(",") #on basis of comma 
print(l)# print list

s1= (" ").join(l)
print(s1)

['abd', ' bcd', ' fg']
abd  bcd  fg

In [ ]:
#list to tuple conversion AND #tuple to list convertion

l= [10,20,30]
t=tuple(l)
print(t)
t= (10,20,30)
l=list(t)
print(l)

(10, 20, 30)
[10, 20, 30]

In [ ]:
#List to dictionary

l1= [10,20,30]
l2= [100,200,300]
d= dict(zip(l1,l2))
print(d)
#output: {10:100,20:200,30:300}
#DICT TO LIST

print(d.keys())   #% output will be list of keys
print(d.values())   #% output will be list of values
print(d.items())    #% output will be list of key , value pair



# SET DEFAULT VALUE TO DICTIONARY UISNG GIVEN LIST
l= [10,20,30]
d= dict.fromkeys(l,20) # sets the default value 
print(d)

{10: 100, 20: 200, 30: 300}
dict_keys([10, 20, 30])
dict_values([100, 200, 300])
dict_items([(10, 100), (20, 200), (30, 300)])
{10: 20, 20: 20, 30: 20}

In [ ]:
#list to set

l1= [10,20,30,30]
s=set(l1)
print(s)

l=list(s)
print(l)

{10, 20, 30}
[10, 20, 30]

EXPT2:
A) Write a python program to perform different operations on list. 
B) Write a program to find the maximum number from the list. 
C) Convert 2 lists  into sorted single list with unique elements using Set
D)Python program to check if a string is palindrome or not

A) Write a python program to perform different operations on list.

B) Write a program to find the maximum number from the list.

In [ ]:
sorted
-1

C) Convert 2 lists  into sorted single list with unique elements using Set

In [ ]:
l1=[10,20,30,20,40,50,]
l2=[10,2,20,50,5,5,]
l=[2,5,10,20,30,40,50]
s1=set(l1)
s2
s1unions2
print(s)
set to list
sort

{40, 10, 50, 20, 30}

D)Python program to check if a string is palindrome or not

In [ ]:
reverse
[::-1]
if s==srev

EXPT3:  A)Write a Python program to map two lists into a dictionary.B) WRITE A PROGRAM TO FIND Maximum and Minimum K elements in Tuple Using slicing + sorted()

 A)Write a Python program to map two lists into a dictionary.

B) WRITE A PROGRAM TO FIND Maximum and Minimum K elements in Tuple Using slicing + sorted()

In [ ]:
convert tuple to list
sort the list
k=2
[10,20,30,40,50,60]
[10,20,50,60]

temp[:k]+temp[-k:]

Program to add two numbers

In [ ]:
#Addition of two numbers:
a=56.6
b=45.5
sum=a+b
print("Addition of two numbers:",sum)

Addition of two numbers: 102.1

adding using input method

In [ ]:
#By using Input Method:
num1= float(input("Enter Number 1:"))
num2=float(input("Enter number 2:"))
print("addition of two numbers:",num1+num2)

Enter Number 1:34.8
Enter number 2:42.9
addition of two numbers: 77.69999999999999

Adding n numbers

In [ ]:
n=int(input("Enter number:"))
if n<0:
   print("Enter positive number.")
else:
   sum=0
   while(n>0):
         sum+=n
         n-=1
   print("The sum is:", sum)

Enter number:200
The sum is: 20100

find largest number among 3 numbers

In [ ]:
num1=float(input("Enter number 1:"))
num2=float(input("Enter number 2:"))
num3=float(input("Enter number 3:"))
if (num1 > num3) and (num1 > num2):
    largest= num1
elif (num2 > num3) and (num2 > num1):
    largest=num2
else:
     largest= num3
print("The largest number is:", largest)

Enter number 1:45
Enter number 2:56
Enter number 3:67
The largest number is: 67.0

In [ ]:
list1=[1,2,3,4,5, 4.5, "sakec",[8,9,10]]
print(list1)

[1, 2, 3, 4, 5, 4.5, 'sakec', [8, 9, 10]]

In [ ]:
datalist = [1,[1001,"John",45.5],[1002,"Snadra",56.5]]
print(datalist[1][2])
print(datalist[2][0])

45.5
1002

In [ ]:
datalist = [23,45,31,53,62]
print(datalist[-4:-2])

[45, 31]

In [ ]:
num1= float(input("Enter number1:"))
num2= float(input("Enter number 2:"))
print("Addition of two numbers is", num1+num2)

Enter number1:56
Enter number 2:22
Addition of two numbers is 5622

In [ ]:
datalist = [23,45,31,53,62]
datalist.extend([76,23,15])
print(datalist)

[23, 45, 31, 53, 62, 76, 23, 15]

LIst methods

In [ ]:
datalist = [23,45,31,53,62]
datalist.append(39)
datalist.extend([76,23,15])
print(datalist)
datalist.insert(2,62)
print(datalist)
datalist.remove(23)
print(datalist)
print(datalist.index(53))
print(datalist.count(45))
datalist.pop()
print(datalist)
print(datalist.copy())
datalist.reverse()
print(datalist)
datalist.sort()
print(datalist)
print(datalist.clear())

[23, 45, 31, 53, 62, 39, 76, 23, 15]
[23, 45, 62, 31, 53, 62, 39, 76, 23, 15]
[45, 62, 31, 53, 62, 39, 76, 23, 15]
3
1
[45, 62, 31, 53, 62, 39, 76, 23]
[45, 62, 31, 53, 62, 39, 76, 23]
[23, 76, 39, 62, 53, 31, 62, 45]
[23, 31, 39, 45, 53, 62, 62, 76]
None